.left-space {
left:33%;
}

.container_12 .grid_7 {
    width: 56.333%;
    
}

.col-md-4-consulta {
    widht:100%;
}

.col-md-4-consulta-rel01{
    
    float: left;
    padding-left: 37%;
    width: 133%;
}

.form-group-consulta {
    margin-bottom: 15px;
    margin-left: 40%;
}


.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top:-20px;
}

a.dashboard-module, a.dashboard-module:visited {
    color: #444444;
    display: block;
    float: left;
    height: 142px;
    margin: 0 8px 8px 0;
    text-align: center;
    width: 142px;
}


a.dashboard-module img {
    margin-top: 20px;
}



a.dashboard-module span {
    display: block;
    margin-top: 10px;
}

.alerta{
    background-color: #F08080;
}

.DVfiltros{
    margin-top: 15px;
    margin-bottom: 7px;
}
.pesquisaLista{
    margin-left: 5px;
    float: right;
}